{% extends "base_ad.html" %}
{% block body_content %}


<div id="page-wrapper" class="pt60" style="padding-top: 0% !important;padding-bottom: 0% !important; margin-top: 10%;margin-left: 12%;">

<div class="container">
	<div class="row">
		<div class="col-lg-1 col-lg-offset-1">
			<span id="tablehead"style="font-size: 20px;">From:</span> 
		</div>
		<div class="col-lg-3">
			<input type="date" class="form-control" name="phone" id="phone">
		</div>
		<div class="col-lg-1 text-right">
			<span id="tablehead"style="font-size: 20px;">To:</span> 
		</div>
		<div class="col-lg-3">
			<input type="date" class="form-control" name="phone" id="phone">
		</div>
		<div class="col-lg-2 text-left">
			<button type="button"class="btn">Search</button>
		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1">
								<p>Commits made</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Leads contacted</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Free service request</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Paid service request</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Mandatory service requests</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>General queries</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Repeated complaints</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>Other requests</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-lg-offset-1">
								<p>New service subscriptions</p>
							</div>
							<div class="col-lg-5 text-center">
								<p>--</p>
							</div>
						</div>
						
					</div>
			



{% endblock body_content %}

<script>
$(document).ready(function(){
	$(".iconbox").hide();
		$("#menubar").click(function(){
		$('#menubar').hide();
			$(".iconbox").show();
});
});

		$(".close").click(function(){
		$('#menubar').show();
			$(".iconbox").hide();
});


$('#pass').click(function(){
	var val=$('#pass').val();
	if(val=="TAKE A BREAK"){
		$('#pass').val("RESUME");
	}
	else{
		$('#pass').val("TAKE A BREAK");
	}
})
</script>

