{% extends "base.html" %}
{% load staticfiles %}
{% block body_content %}
<style type="text/css">#dataTable_filter{display: none;}</style>
<div id="page-wrapper" class="pt60" >
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control" id="exampleInputName2" placeholder="Enter ID">
					<label for="exampleInputEmail2">From Date:</label>
					<input type="date" class="form-control">
					<label for="exampleInputEmail2">To Date:</label>
                    <input type="date" class="form-control">
                    <label for="exampleInputEmail2">From Time:</label>
					<input type="time" class="form-control">
					<label for="exampleInputEmail2">To Time:</label>
                    <input type="time" class="form-control">
                     <button type="submit" class="btn btn-INFO">SEARCH</button>
                </div>
               
            </form>
        </div>
    </div>
</div>
<br><br><br>
	<table id="dataTable" class = "table table-hover dataTable">
		<thead>
			<tr>
				<th>No</th>
				<th>Req ID</th>
				<th>Name</th>
				<th>Phone Number</th>
				<th>Address</th>
				<th>Feedback</th>
				<th>Appointment</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody></tbody>
		</table>
</div>
			
	<!-- This is to show pause -->
	<div id="modalForPause" class="modal fade" role="dialog" style="border: 3px solid #7CB9E8">
		<div class="modal-dialog">
			<div class="modal-content" style="background-color: rgb(135, 202, 193)">
				<div class="modal-header">
					<div style="margin-bottom: 150px">
						<img src="/static/images/download.png" class="user"/>
					</div>
				</div>
				<div class="modal-body">
					<h4 class="modal-title text-center">Paused</h4>
					<div class="text-center">    
						<p id="ptime" style="font-weight: bold;"></p>
					</div>
				</div>
				<div class="modal-footer">
					<div class="text-center">
						<input type="submit" id="resume" value="Resume" class="btn btn-primary" style="color: #7CB9E8">
					</div>
				</div>
      </div>
    </div>
	</div>

	<br>
</body>
{% endblock body_content %}
	

	{% block custom_js %}
	<!-- All script starts here -->
	<script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>

	<script>
	

		$(document).ready(function(){
			$(".iconbox").hide();
				$("#menubar").click(function(){
				$('#menubar').hide();
					$(".iconbox").show();
		});
		});

		$(document).ready(function(){
			
				$(".close").click(function(){
				$('#menubar').show();
					$(".iconbox").hide();
		});
		});

		$(document).ready(function(){
				$("#menubar").click(function(){
					$("#btn").hide();
					$(".close").click(function(){
				$('#btn').show();
		});
		});
		});

		$(document).ready(function(){
			$("#menubar").click(function(){
				$("#btn").hide();
				$(".close").click(function(){
			$('#btn').show();
		});
		});
		});


		$(document).ready(function(){
			$("#menubar").click(function(){
				$("#btn1").hide();
				$(".close").click(function(){
			$('#btn1').show();
		});
		});

		
		});


		$(".call-card").hide();
		$("#callnow").click(function(){
		
			$(".call-card").show();
		});

		$("#goToDashboard").click(function(){
			window.location.href = baseUrl + "tc_homePage/"
		});


		$("#callsButton").click(function() {
			//This page is temporary
			window.location.href = baseUrl + "callHistoryPage/"
		})


		$("#commitsButton").click(function() {
			//This page is temporary
			window.location.href = baseUrl + "commitHistoryPage/"
		})


		$("#logoutButton").click(function() {
			window.location.href = baseUrl + "logoutPage/"
		});


</script>
<script>
var emp_id;
var lead_id;

function fetchTableData(emp_id) { 
			var table = $('#dataTable').DataTable({
								"sDom": "Rfrtlip"

			});
			$.ajax({
			type: "post",
			url: baseUrl+"getCallbackLeads/",
			data: {
				emp_id: emp_id
			},
			success: function (data) {
					data=JSON.parse(data);
					// console.log(data);
					data=data.description;
					var i = 0;
				$.each(data, function(key,value) {
					i++;
					table.row.add($(
						'<tr>' +
						'<td>'+i+'</td>' +
						'<td>'+value.leadID+'</td>' +
						'<td>'+value.fname+ ' ' +value.lname+'</td>' +
						'<td>'+value.phone+'</td>' +
						'<td>'+value.address+'</td>' +
						'<td>'+value.comments+'</td>' +
						'<td>'+value.appointmentDate+'</td>' +
						'<td><a id="${value.leadID}" onClick=setLocalStorage(this.id) type="button" href="../remarks" class="btn btn-primary">EDIT</a><a  onClick=makecall() type="button" class="btn btn-primary">CALL NOW</a></td>'+
						'</tr>')).draw(false);
				})
			}
		})
	}

	$(document).ready(function() {
		$.post( baseUrl + "getSession/",
		{},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				window.location.href = baseUrl
			}else{
				emp_id = dataObj.description;
				// getProfilePicture(emp_id);
				getUserData(emp_id);
				fetchTableData(emp_id);
				// getEmpTarget(emp_id);
			}
		});

	})

		// function getEmpTarget(empID) {
		// 	$.post( baseUrl + "getEmpTarget/",
		// 		{
    //       emp_id: empID
		// 		},
		// 		function(data, status) {
		// 			dataObj = JSON.parse(data);
		// 			if (dataObj.result == "fail") {
		// 				alert(dataObj.description)
		// 			} else {
		// 				// alert(dataObj.description)
		// 				var callTarget = dataObj.description["calls"]
		// 				var commitTarget = dataObj.description["commits"]
		// 				$("#targetCalls").text(callTarget)
		// 				$("#targetCommit").text(commitTarget)
		// 				getProgress(emp_id, callTarget, commitTarget);
		// 			}
		// 		})
		// }

		function getProgress(emp_id, callTarget, commitTarget) {

			//These values are hardcoded for testing. Here we need to get actual 
			//callCount and commitCount from db.
			var callCount = 43
			var commitCount = 42

			$("#currCallCount").text(callCount)
			$("#currCommitCount").text(commitCount)

			callPercentage = Math.trunc((callCount * 100)/callTarget)
			commitPercentage = Math.trunc((commitCount * 100)/commitTarget)

			$("#callProgressBar").css("width", callPercentage + "%")
			$("#commitProgressBar").css("width", commitPercentage + "%")
		}


		function getProfilePicture(emp_id) {
		$.post( baseUrl + "getProfilePicture/",
		{
			id: emp_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("Something's Wrong With Profile Picture")
			}else{
				// console.log(dataObj.description);
				document.getElementById("imageid").src=".." + dataObj.description ;
			}
		});
	}
	

	function updateCommit(lead_id, isCommit){
		$.post( baseUrl + "setCommit/",
		{
			lead_id: lead_id,
			isCommit: isCommit,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
			}else{
				// console.log(dataObj)
				// var fname = dataObj.description['fname']
				// alert("Good Job");
			}
			getCallTable(emp_id);
		});
	}


function announceList(){

}
	
	function setDetails(lead_id)
	{
		console.log(lead_id)
		$.post( baseUrl + "editLead/",
		{
        id : lead_id,
        fname : document.getElementById("fnameLead").value,
        lname :document.getElementById("lnameLead").value,
				address :document.getElementById("addressLead").value,
        email :document.getElementById("emailLead").value,
        alternatePhone:document.getElementById("alternateNumberLead").value,
        purchaseDate :document.getElementById("dateLead").value,
        pincode :document.getElementById("pinLead").value,
        comments :document.getElementById("commentsLead").value,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
				console.log(dataObj)
			}else{
				console.log(dataObj)
			}
			getCallTable(emp_id);
		});
	}
	
	function callLead(lead_id)
	{
		console.log(lead_id)
		$.post( baseUrl + "editLead/",
		{
        id : lead_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
				console.log(dataObj)
			}else{
				console.log(dataObj)
			}
			getCallTable(emp_id);
		});
  }




	function getDetails(lead_id){
		lead_id= lead_id
		$.post( baseUrl + "displaySingleLead/",
		{
			id: lead_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("request failed")
			}else{
				console.log(dataObj)
				document.getElementById("lead_id").innerText = lead_id;
				document.getElementById("lead_phone").innerText = dataObj.description['mobile'];
				document.getElementById("fnameLead").value = dataObj.description['fname'];
				document.getElementById("lnameLead").value = dataObj.description['lname'];
				document.getElementById("emailLead").value = dataObj.description['email'];
				document.getElementById("alternateNumberLead").value = dataObj.description['alternatePhone'];
				document.getElementById("pinLead").value = dataObj.description['pincode'];
				document.getElementById("dateLead").value = dataObj.description['purchaseDate'];
				document.getElementById("addressLead").value = dataObj.description['address'];
				document.getElementById("commentsLead").value = dataObj.description['comments'];
				document.getElementById("btnLead").setAttribute('onclick','setDetails('+lead_id+')')
			}
			getCallTable(emp_id);
		});
  }


	

		function getUserData(emp_id) {
			$.post( baseUrl + "getUserData/",
			{
				id: emp_id,
			},
			function(data, status) {
				dataObj=JSON.parse(data);
				if(dataObj.result=="fail") {
					alert("request failed")
				}else{
					console.log(dataObj)
					var fname = dataObj.description['fname']
					var lname = dataObj.description['lname']
					loginTime = dataObj.description['loginTime']
					var d = new Date(loginTime);

					var date = d.getMonth() + 1

					$("#loginTime").text('Logged in at: ' + d.getHours() + ' : ' + d.getMinutes())
					$("#loginDate").text('Date: ' + d.getDate() + '-' + date + '-' + d.getFullYear())

					fullName = makeItUpper(fname, lname)
					$("#welcomeTag").text("Hello " + fullName);
					//To a change welcome
				}
				// getCallTable(emp_id)
			});
		}


	
		function orderCells(headers) {
			for (var header of headers) {
				console.log(header)
			}
		}

		function getNotificationsTable() {
		document.getElementById('main-table').innerHTML=' ';
		$.post( baseUrl + "getNotification/",
		{
			id: emp_id,
		},
		function(data, status){
			dataObj = JSON.parse(data);
			if(dataObj.result == 'fail') {
				alert(dataObj.description);
			}else{
				// for (var i=0; i < dataObj.description.length; i++) {
				// 	console.log(dataObj.description[i]['fname'])
				// }
				$("#main-table").append('--');				
				$("#main-table").append('Only For You');
				$("#main-table").append('----------------------');				

				var columns = addAllColumnHeaders(dataObj.description);
				for (var i = 0 ; i < dataObj.description.length ; i++) {
					var row$ = $('<tr/>');
					for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
						var cellValue = dataObj.description[i][columns[colIndex]];
						if(typeof cellValue === "boolean"){
							lead_id = dataObj.description[i][columns[0]];
						}
						else{
							if (cellValue == null) { 
								cellValue = ""; 
							}
							row$.append($('<td/>').html(cellValue));
						}
					}
					$("#main-table").append(row$);
				}
			}
		});
		$.post( baseUrl + "getNotification/",
		{},
		function(data, status){
			dataObj = JSON.parse(data);
			if(dataObj.result == 'fail') {
				alert(dataObj.description);
			}else{
				// for (var i=0; i < dataObj.description.length; i++) {
				// 	console.log(dataObj.description[i]['fname'])
				// }
				$("#main-table").append('--');				
				$("#main-table").append('For All');				
				$("#main-table").append('----------------------');				

				var columns = addAllColumnHeaders(dataObj.description);
				for (var i = 0 ; i < dataObj.description.length ; i++) {
					var row$ = $('<tr/>');
					for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
						var cellValue = dataObj.description[i][columns[colIndex]];
						if(typeof cellValue === "boolean"){
							lead_id = dataObj.description[i][columns[0]];
						}
						else{
							if (cellValue == null) { 
								cellValue = ""; 
							}
							row$.append($('<td/>').html(cellValue));
						}
					}
					$("#main-table").append(row$);
				}
			}
		});
	}
	

		

		$(document).ready(function() {
			setInterval(function() {

				var d = new Date(loginTime);
				var login = d.getMinutes()*60 + d.getHours()*60*60 + d.getSeconds()
				var c = new Date();
				var curDate = c.getMinutes()*60 + c.getHours()*60*60 + c.getSeconds()

				a = Number(curDate -login);
				var h = Math.floor(a / 3600);
				var m = Math.floor(a % 3600 / 60);
				var s = Math.floor(a % 3600 % 60);

				// var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
				// var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
				// var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";

				var hDisplay = h > 0 ? h + (h == 1 ? " hour, " : " hours, ") : "";
				var mDisplay = m > 0 ? m + (m == 1 ? " minute, " : " minutes, ") : "";
				var sDisplay = s > 0 ? s + (s == 1 ? " second" : " seconds") : "";
				$("#runningTime").text(h + ":" + m + "." + s)
			// $("#runningTime").text(d.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12:true }))
			}, 1000)
		})

		// startTimer();

		$("#pauseButton").click(function(e) {
			e.preventDefault();
			$('#modalForPause').modal('show');
			startCounter();
			$.post( baseUrl + "setPause/",
			{
				id: emp_id,
				isPause: true
			},
			function(data, status) {
				dataObj = JSON.parse(data);
				if(dataObj.result == 'fail') {
					alert(dataObj.description)
				}else {
					console.log(dataObj.description)
				}

			})
		})

		$('#resume').click(function(e){
			e.preventDefault();
			// location.reload();
			resetCounter();
			$("#modalForPause").modal("hide");
			$.post(baseUrl + "setPause/",
			{
				id:emp_id,
				isPause: false
			},
			function(data, status) {
				dataObj = JSON.parse(data);
				if(dataObj.result == 'fail') {
					alert(dataObj.description)
				}else {
					pauseDuration = dataObj.description
				}
			})
		})
	</script>


{% endblock custom_js %}



<!-- </body> -->
</html>
