{% extends "base.html" %}
{% block body_content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-11">
			<h1 class="dashboard">Your dashboard</h1>
		</div>
		
		<div class="col-lg-1">
		<i class="glyphicon glyphicon-menu-hamburger"style="color:#7CB9E8;font-size:35px;"id="menubar"></i>
		</div>
	</div>
</div><br>

<div class="container">
	<div class="row">
		<div class="col-lg-6 text-center">
			<p>Current Password</p>
		</div>
		<div class="col-lg-6 text-left">
			<input type="password"class="modelname"/>
		</div>
	</div><br>
	<div class="row">
		<div class="col-lg-6 text-center">
			<p>New Password</p>
		</div>
		<div class="col-lg-6 text-left">
			<input type="password"class="modelname"/>
		</div>
	</div><br>
	<div class="row">
		<div class="col-lg-6 text-center">
			<p>Confirm Password</p>
		</div>
		<div class="col-lg-6 text-left">
			<input type="password"class="modelname"/>
		</div>
	</div><br><br>
	<div class="row">
		<div class="col-lg-12 text-center">
			<button type="button"class="btn">Change Password</button>
		</div>
	</div>
	<br><br>
	<div class="row">
		<div class="col-lg-12 text-center">
			<button type="button"class="btn">Cancel</button>
		</div>
	</div>
</div>

<br>
{% endblock body_content %}
<script>
$(document).ready(function(){
	$(".iconbox").hide();
		$("#menubar").click(function(){
		$('#menubar').hide();
			$(".iconbox").show();
});
});

		$(".close").click(function(){
		$('#menubar').show();
			$(".iconbox").hide();
});


$('#pass').click(function(){
	var val=$('#pass').val();
	if(val=="TAKE A BREAK"){
		$('#pass').val("RESUME");
	}
	else{
		$('#pass').val("TAKE A BREAK");
	}
})
</script>
