<!-- <div class="footer"><span style="padding-right: 70%;">Powered By Curve.</span> <span id="count"> Active Users : <span id ="month" class="counter-count">0</span> | Total Users : <span id ="total" class="counter-count">0</span> </span></div> -->
<!-- Modal HTML -->
<style type="text/css">
  .modal-confirm {    
    color: #636363;
    width: 325px;
  }
  .modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
  }
  .modal-confirm .modal-header {
    border-bottom: none;   
        position: relative;
  }
  .modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -15px;
  }
  .modal-confirm .form-control, .modal-confirm .btn {
    min-height: 40px;
    border-radius: 3px; 
  }
  .modal-confirm .close {
        position: absolute;
    top: -5px;
    right: -5px;
  } 
  .modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
  } 
  .modal-confirm .icon-box {
    color: #fff;    
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: -70px;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    z-index: 9;
    background: #82ce34;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
  .modal-confirm .icon-box i {
    font-size: 58px;
    position: relative;
    top: 3px;
  }
  .modal-confirm.modal-dialog {
    margin-top: 80px;
  }
    .modal-confirm .btn {
        color: #fff;
        border-radius: 4px;
    background: #82ce34;
    text-decoration: none;
    transition: all 0.4s;
        line-height: normal;
        border: none;
    }
  .modal-confirm .btn:hover, .modal-confirm .btn:focus {
    background: #6fb32b;
    outline: none;
  }
  .trigger-btn {
    display: inline-block;
    margin: 100px auto;
  }
</style>
<div id="sucess" class="modal fade" style="z-index:9999;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #207500;padding: 10px;">
        <div class="icon-box">
          <span class="glyphicon glyphicon-ok" style="top: 15%;font-size: 40px;"></span>
        </div>        
        <h4 class="modal-title">Success!</h4> 
      </div>
      <div class="modal-body" style="padding:10px;">
        <p class="text-center" style="font-size:14px;"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-block" onclick="myFunction()">OK</button>
      </div>
    </div>
  </div>
</div>

<div id="fail" class="modal fade" style="z-index:9999;">
  <div class="modal-dialog modal-confirm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #b30606; padding: 10px">
        <div class="icon-box" style="background-color: #ef2020;">
          <span class="glyphicon glyphicon-remove" style="top: 15%;font-size: 40px;"></span>
        </div>        
        <h4 class="modal-title">Failed!</h4> 
      </div>
      <div class="modal-body" style="padding:10px;">
        <p class="text-center" style="font-size:14px;"></p>
      </div>
      <div class="modal-footer">
        <button style="background-color: #ef2020;" class="btn btn-success btn-block" >OK</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  function callbacksload(emp_id) {
      $.post( baseUrl + "callbacksload/",
      {
        emp_id: emp_id,
      },
      function(data, status) {
        dataObj=JSON.parse(data);
        if(dataObj.result=="fail") {
          alert("request failed")
        }else{
          console.log(dataObj.description.length);
          for(i=0; i<dataObj.description.length;i++)
          {
            $('#msg_count').html(dataObj.description.length);
            $('#notificationsBody').append('<div class="content">Cutomer Name: '+dataObj.description[i].fname+'<br>  call back time: '+dataObj.description[i].appointmentDate+'<br><input type="button" class="btn" value="call now" style="float-right"></div>');
            console.log("im in footer");
          }
        }
      }
      )}
  
</script>
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAz7fkVlG5SxgWMEmkrHC2OEaj_jcKgf4M",
    authDomain: "aquaguard-1b328.firebaseapp.com",
    databaseURL: "https://aquaguard-1b328.firebaseio.com",
    projectId: "aquaguard-1b328",
    storageBucket: "",
    messagingSenderId: "734410860053"
  };
  firebase.initializeApp(config);
</script>
<script src="/static/dist/js/firebase.js"></script> 
