<!-- <div class="footer"><span style="padding-right: 70%;">Powered By Curve.</span> <span id="count"> Active Users : <span id ="month" class="counter-count">0</span> | Total Users : <span id ="total" class="counter-count">0</span> </span></div> -->
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAz7fkVlG5SxgWMEmkrHC2OEaj_jcKgf4M",
    authDomain: "aquaguard-1b328.firebaseapp.com",
    databaseURL: "https://aquaguard-1b328.firebaseio.com",
    projectId: "aquaguard-1b328",
    storageBucket: "",
    messagingSenderId: "734410860053"
  };
  firebase.initializeApp(config);
</script>
<script src="/static/dist/js/firebase.js"></script> 
