<style type="text/css">
    #nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    width: 170px;
    border: 1px solid #ccc;
    display: none;
}
</style>
<nav class="main-menu"style="background-color: #0D385D;">
    <div class="navbar sidebar" id="style-3" role="navigation">
        <div class="sidebar-nav" style="margin-top: 70%;">
            <ul class="nav" id="side-menu" style=""></br>
                <li>
                   
                    <a href="/tc_dashboard" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">MyDashboard</span>></a>
                    </li>
                    <li>
                  <li>
                   
                    <a href="/tc_homePage" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">MyLeads  </span>></a>
                    </li>
                    <li>
                   
                    <a href="/commitHistoryPage" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">MyCommits</span>></a>
                    </li>
                     <li>
                   
                    <a id="outbound" href="/callHistoryPage" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">MyCallBacks</span>></a>
                    </li>
                     <li>
                   
                    <a href="/reportsPage" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">MyReports</span>></a>
                    </li>

                   
                    
                  

                </div>
            </ul>
        </div> 
    </div>
</nav>
 