<style type="text/css">
    #nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    width: 170px;
    border: 1px solid #ccc;
    display: none;
}
</style>
<nav class="main-menu"style="background-color: #0D385D;">
    <div class="navbar sidebar" id="style-3" role="navigation">
        <div class="sidebar-nav" style="margin-top: 70%;">
            <ul class="nav" id="side-menu" style=""></br>
                <li>
                                       <a href="../Add_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Add Leads</span>></a>
                    </li>
                
                    <li>
                    <a href="../Assign_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Assign Leads</span>></a>
                    </li>
                   
                    <li>
                    <a href="../Reassign_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Reassign Leads</span>></a>
                    </li>
                    
                    <li>
                    <a href="../Lead_Status" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Lead Status</span>></a>
                    </li>
                    <li>
                    <a href="../setEmpTargetPage" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Set Target</span>></a>
                    </li>
                    <li>
                    <a href="../addEmployee" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Manage Employee</span>></a>
                    </li>

                   
                    
                  

                </div>
            </ul>
        </div> 
    </div>
</nav>
 