<style type="text/css">
    #nav ul {
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    width: 170px;
    border: 1px solid #ccc;
    display: none;
}
</style>
<nav class="main-menu"style="background-color: #0D385D;">
    <div class="navbar sidebar" id="style-3" role="navigation">
        <div class="sidebar-nav" style="margin-top: 70%;">
            <ul class="nav" id="side-menu" style=""></br>
             <!--    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" ><span class="space nav-text" style="color:white;  font-size: 16px;"> Product </span><i class="fa fa-caret-down" style="color: #0D385D;font-size:20px;"></i>
                </a>
                <ul class="dropdown-menu" role="menu" style="z-index: -1">
                    <li><a id="dashboard" href="../tc_homePage"><span class="space nav-text" style="color:white;  font-size: 16px;"> Add </span></a></li>
                    <li><a id="settings" href="../changedp_tc"><span class="space nav-text" style="color:white;  font-size: 16px;"> View </span></a></li>
                    <li><a id="logoutButton" href="../logoutPage"><i class="fa fa-sign-out fa-fw"></i> Edit</a></li>
                </ul>
            </li> -->
                <li>
                   
                    <a href="/addprod" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Add Product</span>></a>
                    </li>

                   <li>
                    <li>
                   
                    <a href="/prodview" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">View Product</span>></a>
                    </li>

                   <li>
                 <!--    <li>
                   
                    <a href="/addprod" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Edit Product</span>></a>
                    </li> -->

                   <li>
                    <a href="/addtick" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Add Ticket</span>></a>
                    </li>
                    
                    <li>
                   
                    <a href="/tickview" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Ticket view</span>></a>
                    </li>

                    <li>
                   
                    <a href="/tickview" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Edit Ticket </span>></a>
                    </li>
                   

                   <li>
                    <a href="/techadd" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Technician Add</span>></a>
                    </li>


                   <li>
                    <a href="/techview" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Technician "views</span>></a>
                    </li>

                     

                     <li>
                   
                    <a href="/teamlead" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Team lead</span>></a>
                    </li>

                   

                   <li>
                    <a href="/currWork" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Current Work</span>></a>
                    </li>


                   <li>
                    <a href="/techview" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Current Status</span>></a>
                    </li>


                   <li>
                    <a href="/techview" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 16px;">Previous Booking</span>></a>
                    </li>


                    
                  

                </div>
            </ul>
        </div> 
    </div>
</nav>
 