<nav class="main-menu"style="background-color: #0D385D;width: 150px;">
    <div class="navbar sidebar">
        <div class="sidebar-nav" style="margin-top: 35%;">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="../Add_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Add Leads</span>></a>
                    </li>
                
                    <li>
                    <a href="../Assign_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Assign Leads</span>></a>
                    </li>
                   
                    <li>
                    <a href="../Reassign_Leads" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Reassign Leads</span>></a>
                    </li>
                    
                    <li>
                    <a href="../Lead_Status" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Lead Status</span>></a>
                    </li>
                    <li>
                    <a href="" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Set Target</span>></a>
                    </li>
                   <!--  <li>
                    <a href="../mainEmployee" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Employee</span>></a>
                    </li>
                    <li>
                    <a href="../adminStatistics" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Statitics</span>></a>
                    </li>
                    <li>
                    <a href="../adminTask" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Tasks</span>></a>
                    </li>
                   <li>
                    <a href="" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">View Details</span>></a>
                    </li>
                    <li>
                    <a href="" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">Report</span>></a>
                    </li>
                    -->
                    <li>
                    <a href="/obAdmin_tc_homePage" id="in" onClick=""  ><span class="space nav-text" style="color:white;  font-size: 14px;">MyLeads  </span>></a>
                    </li>
                    
                    <li>
                        <a href="/obAdmin_commitHistoryPage" onClick=""><span class="space nav-text" style="color:white;  font-size: 14px;">MyCommits</span></a>
                    </li>
                    
                    <li>
                        <a id="outbound" href="/obAdmin_callHistoryPage"  onClick="" style="color:white;  font-size: 14px;"><span class="space nav-text">MyCallBacks</span></a>
                    </li>

                    <li>
                        <a href="/obAdmin_reportsPage"  onClick="" style="color:white;  font-size: 14px;"><span class="space nav-text">MyReports</span></a>
                    </li>
                    
                </div>
            </ul>
        </div> 
    </div>
</nav>
 