<nav class="main-menu">
    <div class="navbar-default sidebar side scrollbar" id="style-3" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav" id="side-menu"></br>
                <div class="myPanal"><i class="fa fa-users fahead" aria-hidden="true"></i><span class="space">DashBoard</span></div>
                  <li>
                    <!-- <a href="/tc_homePage" id="in" target="_blank" onClick=""><i class="fa fa-address-book fanav" aria-hidden="true"></i><span class="space nav-text">MyLeads  </span><span  class="badge pull-right mid" id="tickets">...</span></a> -->
                    <a href="/tc_homePage" id="in" onClick=""><i class="fa fa-address-book fanav" aria-hidden="true"></i><span class="space nav-text">MyLeads  </span><span  class="badge pull-right mid" id="tickets">...</span></a>
                    </li>
                    
                    <li>
                        <a href="/commitHistoryPage" onClick=""><i class="fa fa-copyright fanav" aria-hidden="true"></i><span class="space nav-text">MyCommits</span></a>
                    </li>
                    
                    <li>
                        <a id="outbound" href="/callHistoryPage"  onClick=""><i class="fa fa-phone fanav" aria-hidden="true"></i><span class="space nav-text">MyCallBacks</span></a>
                    </li>

                    <li>
                        <a href="/reportsPage"  onClick=""><i class="fa fa-coffee fanav" aria-hidden="true"></i><span class="space nav-text">MyReports</span></a>
                    </li>
                </div>
            </ul>
        </div> 
    </div>
</nav>
 