<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/my_style.css"/>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../static/js/aquaguardTimer.js"></script>
</head>
<body>
<nav class="navbar navbar-default nav-content">
    <div>
        <p id="ab" style="text-align: center">You have been logged out securely!</p>        
    </div>
    <div class="text-center main2-content"> 
        <img id="imageid" class="logoutImage" src="/static/images/user_image.png">
        <p id="bc"></p>
    </div>
    <div class="text-center"> 
        <img src="/static/images/thumbsup.png" height="70px" width="70px"> 
    </div>
    <br>
    <br>
    <center>
        <p id=callbackCount></p>
        <p id=callCount></p>
        <p id=commitCount></p>
    </center>
</nav>
</body>

<script>
    $(document).ready(function() {
        //get user details
        $.post( baseUrl + "getSession/",
	{},
	function(data, status) {
		dataObj=JSON.parse(data);
		if(dataObj.result=="fail") {
            alert(dataObj.description);
            window.location.href = baseUrl
		}else{
			emp_id = dataObj.description;
            getProfilePicture(emp_id)
            saveLogoutTime(emp_id);
            getIndividualReport(emp_id)
            getUserData(emp_id);
		}
    });

    function getIndividualReport(emp_id) {
        $.post( baseUrl + "generateReport/",
        {
            emp_id: emp_id,
            report_type: 'daily',
            report_for: 'single'
        },
        function(data, status) {
            var dataObj = JSON.parse(data);

            if (dataObj.result == 'fail') {
                alert(dataObj.description)
            } else {
                var data = dataObj.description
                var callCount = data['callCount'];
                var commitCount = data['commitCount'];
                var callbackCount = data['callbackCount'];
                $("#callCount").text('callCount is ' + callCount)
                $("#commitCount").text('commitCount is ' + commitCount)
                $("#callbackCount").text('callbackCount is ' + callbackCount)
            }
        })
    }
    
    function getProfilePicture(emp_id) {
		$.post( baseUrl + "getProfilePicture/",
		{
			id: emp_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("Something's Wrong With Profile Picture")
			}else{
				// console.log(dataObj.description);
				document.getElementById("imageid").src=".." + dataObj.description ;
			}
		});
	}

	function getUserData(emp_id) {
		$.post( baseUrl + "getUserData/",
		{
			id: emp_id,
		},
		function(data, status) {
			dataObj=JSON.parse(data);
			if(dataObj.result=="fail") {
				alert("failed to receive");
			}else{
                //Good Job messag
				var fname = dataObj.description['fname']
				var lname = dataObj.description['lname']
                $("#bc").text('Good Job ' + fname + ' ' + lname);
                //flush Session
                flushSession();
			}
		});
    }
    function saveLogoutTime(emp_id) {
        $.post( baseUrl + 'storeLogoutTime/',
        {
            id: emp_id
        },
        function(data, status) {
            
        });
    }
    function flushSession() {
        $.post( baseUrl + 'flushSession/',
        {},
        function(data, status) {

        });
    }
    //flush sessions

    });


    // sessionStorage.removeItem('emp_id');
</script>
</html>