{% extends "base_ad.html" %}
{% block body_content %}

<div id="page-wrapper" class="pt60" style="padding-top: 0% !important;padding-bottom: 0% !important; margin-top: 0%;margin-left: 12%;">
  <div class="container">
  



            <!-- /.box-header -->
            <div class="box-body table-responsive">
              <table id="examplepre" class="table table-bordered table-hover" style="overflow-x: scroll;">
                <thead>
                <tr>
                  <th>Booking id</th>
                  <th>Customer name</th>
                  <th>Address</th>
                  <th>Pincode</th>
                  <th>Phone</th>
                  <th>Alternative phone</th>
                  <th>Problem</th>
                    <th>Cost</th>

                  

                </tr>
                </thead>
                <tbody>
               
                </tbody>
                <tfoot>
                <tr>
                      <th>Booking id</th>
                  <th>Customer name</th>
                  <th>Address</th>
                  <th>Pincode</th>
                  <th>Phone</th>
                  <th>Alternative phone</th>
                  <th>Problem</th>
                    <th>Cost</th>
            
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>

    <div id="myModalsal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
       <div class="box box-info">
            <div class="box-header with-border text-center">
              <h3 class="box-title ">Request payment</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" >
              <div class="box-body">
                 <div class="form-group">
                  <label for="fname" class="col-sm-4 control-label">Enter amount</label>

                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="amount" placeholder="Enter amount">
                  </div>
                </div>
                  
               
              


                    <input type="hidden" class="form-control" id="fid" value="">
                    <input type="hidden" class="form-control" id="bid" value="">

                  
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                   
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
                <input type="submit" class="btn btn-info pull-right" value="Proceed" id="salsal">
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
                    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


{% endblock body_content %}

{$ block custom_js %}
