{% extends "base.html" %}
{% block body_content %}
<style type="text/css">
    #dataTable_length
    {
        display: none;
    }
    #dataTable_filter
    {
        display: none;
    }
</style>
<script type="text/javascript">
     $( function() {
    $( "#datePicker" ).datepicker();
  } );
function getval(sel)
{
    var conceptName = sel.value;
    $("textarea#comment").text(conceptName);
}
function setval(val) 
              {
                if((val.value == "Set Commit")||(val.value == "Call Back"))
                {
                    var _date = $("#datePicker").val();
                    if(_date == "")
                    {
                         alert("input appointmentDate and time");
                         return;
                     }
                     else
                     {
                        var conceptName = val.value;
                        $("textarea#comment").text(conceptName);
                              $('#callAction').prop('disabled', true);
          
                     }


                }
              }
</script>
<style type="text/css">
    div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\2605';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\2605';
}
    #datePicker{
 z-index:9999 !important;
}
#map {
        height: 340px;
        width: 300px;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }
       #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
</style>

<div class="container" style="margin-top:10%;">
    <div class="row">
        <div class="col-md-12 col-md-offset-3" style="font-size:28px;">
            <div class="float-right">Phone Number is <span id="phoneNumber"></span></div>
            </div>
    </div> 
    <div class="row" style="margin-top:5%">
        <div class=" col-md-6 col-md-offset-3">
            <form class="">
                <div class="form-group" >
                    <label for="Fname">Full Name</label>
                    <input id="leadName" type="text" class="form-control" placeholder="First Name">

                    </div>
                    <div class="form-group" >
                        <label for="address">Address</label>


                        <textarea id="address" class="form-control" type="text" placeholder="Address" rows="4"></textarea> 
                        <!-- <textarea id="address" class="form-control" rows="4" placeholder="Address">Due to the widespread use of tables across we’ve designed our tables to be opt-in. Just add</textarea> -->
                        
                        <div id="map" style="position: absolute;left: 100%;top: 2%;"></div>

                        <!-- <input type="text" class="form-control" placeholder="Address"> -->

                        <!-- <textarea id="address" class="form-control" rows="4" placeholder="Address">Due to the widespread use of tables across we’ve designed our tables to be opt-in. Just add</textarea> -->

                    </div>
                    <div class="form-group" >
                        <label for="alternateNumber">Alternate Number</label>
                        <input id="alternatePhone" type="text" class="form-control" value="9795768765" placeholder="Alternate Number">
                    </div>
                     <div class="form-group" >
                        <label for="AppointmentDate">Apointment Date and time</label>
                        <br><br>
                        <input id="datePicker" type="text" class="form-control" placeholder="Set Apointment Date" style="width: 50%;float: left;">
                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true" style="width: 50%; float: left;">
                            <input id="clockPicker" type="text" class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group" >
                        <label for="emailAddress">Email Address</label>
                        <input id="email" type="text" class="form-control" value="add@gmail.com" placeholder="Email Address">
                    </div>
                    <div class="form-group" >
                        <label for="pin Code">Pin code</label>
                        <input id="pincode" type="text" name="pincode" class="form-control" value="45678" placeholder="pincode">
                    </div>
                   

                    <div class="form-group" >
                        <label for="modal name">Modal name</label>
                        <input id="product" type="text" class="form-control" value="Input modal name" placeholder="modal name">
                    </div>
                    <div class="form-group">
                         <label for="modal name" style="margin-top: 4%;">Lead Priority:</label>
                        <div class="stars">

                            <form action="">
                            <input class="star star-5" id="star-5" type="radio" name="star"/>
                            <label class="star star-5" for="star-5"></label>
                            <input class="star star-4" id="star-4" type="radio" name="star"/>
                            <label class="star star-4" for="star-4"></label>
                            <input class="star star-3" id="star-3" type="radio" name="star"/>
                            <label class="star star-3" for="star-3"></label>
                            <input class="star star-2" id="star-2" type="radio" name="star"/>
                            <label class="star star-2" for="star-2"></label>
                            <input class="star star-1" id="star-1" type="radio" name="star"/>
                            <label class="star star-1" for="star-1"></label>
                            </form>
                            </div>
                    </div>
                    <div class="form-group">
                         <label for="modal name">SET COMMIT/ CALL BACK:</label>
                         <select id="commitaction" class="form-control"  onchange="setval(this);" style="width:50%;">
                            <option name="df" selected="selected">--Select Action--</option>
                            <option name="co" style="font-weight: bold;">Set Commit</option>
                            <option name="cb" style="font-weight: bold;">Call Back</option>
                        </select>
                        <br><br>
                         <label for="modal name">SET FEEDBACK:</label>
                        <select id="callAction" class="form-control" id="exampleFormControlSelect1"style="width:50%;" onchange="getval(this);">
                            <option name="df" selected="selected">--Select Action--</option>
                            <option name="wn" style="font-weight: bold;">wrong number</option>
                            <option name="so" style="font-weight: bold;">switched off</option>
                            <option name="nr" style="font-weight: bold;">not reachable</option>
                            <option name="cni" style="font-weight: bold;">customer not interested</option>
                            <option name="cb" style="font-weight: bold;">callback</option>
                            <option name="co" style="font-weight: bold;">commit</option>
                            
                        </select>
                
                    </div>

                    <textarea id="comment" class="form-control" rows="4" placeholder="Your Feedback"></textarea>
                    <!-- <div class="clearfix"></div> -->
                </form>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-1">
                    <h2>Previous Feedback</h2>
                    <table id="dataTable" class = "table table-hover dataTable">
                        <thead>
                            <tr>
                                <th style="border-bottom:2pt solid black;">#</th>
                                <th style="border-bottom:2pt solid black;">Feedback</th>
                                <th style="border-bottom:2pt solid black;">EmpID</th>
                                <th style="border-bottom:2pt solid black;">CreatedOn</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr>
                                <td>1</td>
                                <td>due to the wide spred use od table acress we have design a table to be opt-in just add</td>
                                <td>21-2-2017 11:22:30</td>
                            </tr>
                                
                            <tr>
                                <td>2 </td>
                                <td>due to the wide spred use od table acress we have design a table to be opt-in just add </td>
                                <td>21-2-2017 11:22:30 </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 text-right">
                    <button id="updateButton" type="submit" class=" btn btn-primary">Update</button>
                </div>
                <div class="col-md-1 text-left">
                    <button id="callButton" type="submit" class=" btn btn-primary">Call now</button>
                </div>
            </div>
        </div>
        <br><br>

        <!-- <div class="row">
            <h3>Previous Feedback</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Feedback</th>
                    <th scope="col">Date Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Due to the widespread use of tables across we’ve designed our tables to be opt-in. Just add </td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Using the most basic table markup, here’s how .table-based tables look in Bootstrap. the parent.</td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Create responsive tables by wrapping any .table with-width breakpoint of up to (but, respectively.</td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
{% endblock body_content %}


{% block custom_js %}
<script type="text/javascript">

    var leadID = localStorage.getItem("leadID");
    var phoneNumber = '';
	var table = $('#dataTable').DataTable({
        "columnDefs": [{
            "defaultContent": "-",
            "targets": "_all"
        }]
    });

    $(document).ready(function() {
        jQuery.post( baseUrl + "getSingleLead/",
            {
                leadID: leadID
            },
            function(data, status) {
                var feedbacks= "";
                dataObj = JSON.parse(data);
                if (dataObj.result == "fail") {
                    alert(dataObj.description)
                } else {
                    var fname = dataObj.description['fname'];
                    var lname = dataObj.description['lname'];
                    var address = dataObj.description['address'];
                    var phone = dataObj.description['phone'];
                    var product = dataObj.description['product'];
                    var alternatePhone = dataObj.description['alternatePhone'];
                    var email = dataObj.description['email'];    
                    var product = dataObj.description['product'];
                    var appointmentDate = dataObj.description['appointmentDate'];
                     feedbacks = dataObj.description['feedbacks'];
                    var callAction = dataObj.description['callAction']

                    $("#phoneNumber").html(phone)
                    $("#leadName").val(fname + ' ' + lname)
                    $("#address").val(address)
                    $("#alternatePhone").val(alternatePhone)
                    $("#email").val(email)
                    $("#product").val(product)
                    $("#callAction option[name=" + callAction +"]").prop('selected', true);
                    // if (feedback != null) {
                    //     table.row.add($(
                    //         '<tr> '+
                    //         '<td>'+feedback+'</td>' +
                    //         '</tr>'
                    //     )).draw(false);
                    // }
                    // var feedBacks = feedbacks.split("*");
                    // for (var i = 0; i < feedBacks.length; i++) {
                    //     eachRow = `
                    //     <div class="row">
                    //         ${feedBacks[i]}
                    //     <div>
                    //     `
                    //     $("#feedBack").append(eachRow)
                    // }
                    // alert(feedBacks.length)


                    //store phone number to the global variable to make available in another funciton
                    console.log(phone);
                    phoneNumber = phone;


                    //handle comments here
                    if (feedbacks != "") {
                        for (var i = 0; i < feedbacks.length; i++) {
                            var eachFeedback = feedbacks[i];

                            var feedback = eachFeedback['feedback'];
                            var emp_id = eachFeedback['empID']; 
                            var createdAt = eachFeedback['createdAt'];

                            // console.log(createdAt)

                            table.row.add(
                                $(
                                    // '<tbody>' +
                                    '<tr>' +
                                        `<td>${i + 1}</td>` +
                                        '<td>' + feedback + '</td>' +
                                        '<td>' + emp_id + '</td>' +
                                        '<td>' + createdAt + '</td>' +
                                    '</tr>'  
                                    // '</tbody>'
                                )
                            ).draw(false);
                        }
                    }

                    var _d = Date.parse(appointmentDate);
                    var d = new Date(_d);
                    stringedDate = d.getFullYear() + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + ("0" + (d.getDay() + 1)).slice(-2)
                    $("#datePicker").val(stringedDate)
                    var stringedTime = (("0" + d.getHours()).slice(-2) + ':' + ("0" + d.getMinutes()).slice(-2))
                    $("#clockPicker").val(stringedTime)
                }
            }
        )
    })
   

    $("#updateButton").click(function() {
        //This is dummy id for testing
        var leadID = localStorage.getItem("leadID");
        var emp_id = localStorage.getItem("empID");
        var assignee = emp_id;
        var fullName = $("#leadName").val();
        var nameArray = fullName.split(" ");
        var fname = nameArray[0];
        var lname = nameArray[1];
        var address = $("#address").val();
        var alternatePhone = $("#alternatePhone").val();
        var email = $("#email").val();
        var product = $("#product").val();
        var comment = $("#comment").val(); 
        var callAction = $("#callAction option:selected").attr("name")
        var _date = $("#datePicker").val();
        var _time = $("#clockPicker").val();
        var appointmentDate = _date + " " + _time + "." + "000000"
        var pincode = $("#pincode").val(); ;
        var isCommitted = $("#commitaction option:selected").attr("name")
        if (isCommitted == "co") {
            isCommitted = true;
              if(_date == "")
                {
                    alert("input date and time");
                    return;
                }
                } 
        else
        {
            isCommitted = false;
             callAction = $("#commitaction option:selected").attr("name")
        
        }
         
    
        if(callAction == "cb")
        {
             
      
        /*    $.post( baseUrl + "addcallbacks/",
        {
            emp_id: emp_id,
            fname: fname,
            phone: phoneNumber,
            appointmentDate:appointmentDate
        },
        function(data, status){
            var dataObj = JSON.parse(data);
            if (dataObj.result === "fail") {
                alert(dataObj.description)
            } else {
               
            }
        })*/
        if(_date == "")
        {

                    alert("input date and time");
            return;
        }
        else
        {
            $('#msg_count').html(parseInt($('#msg_count').html(), 10)+1)
            $('#notificationsBody').append('<div class="content">Cutomer Name: '+fname+'<br>  call back time: '+appointmentDate+'<br><input type="button" class="btn" value="call now" style="float-right"></div>');
        }}
        $.post( baseUrl + "editLead/",
        {
            emp_id: emp_id,
            leadID: leadID,
            fname: fname,
            lname: lname,
            address: address,
            email: email,
            alternatePhone: alternatePhone,
            product: product,
            comments: comment,
            callAction: callAction,
            isInterested: isCommitted,
            pincode:pincode,
            assignee:assignee,
            appointmentDate: appointmentDate
        },
        function(data, status) {
            var dataObj = JSON.parse(data);
            if (dataObj.result == "fail") {
                alert(dataObj.description)
            } else {
                alert(dataObj.description)
               // window.location.href = baseUrl + "tc_homePage/"
            }
        })


    })



    $("#callButton").click(function() {
        var emp_id = localStorage.getItem("empID");
        var lead_id = localStorage.getItem("leadID");

        $.post( baseUrl + "makeCall/",
        {
            emp_id: emp_id,
            lead_id: lead_id,
            phone: phoneNumber
        },
        function(data, status){
            var dataObj = JSON.parse(data);
            if (dataObj.result === "fail") {
                alert(dataObj.description)
            } else {
                // alert(dataObj.description)
                $.post( baseUrl + "registerProgress/",
                {
                    emp_id: emp_id,
                    action: 'call'
                },
                function(data, status) {
                   var dataObj = JSON.parse(data);
                   if (dataObj.result === "fail") {
                       alert(dataObj.description)
                   } else {
                       alert(dataObj.description)
                   }
                })
            }
        })
    })

// ClockStuff

$('.clockpicker').clockpicker()
    .find('input').change(function(){
        console.log(this.value);
    });
var input = $('#single-input').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
        donetext: 'Done',
        init: function() { 
            console.log("colorpicker initiated");
        },
        beforeShow: function() {
            console.log("before show");
        },
        afterShow: function() {
            console.log("after show");
        },
        beforeHide: function() {
            console.log("before hide");
        },
        afterHide: function() {
            console.log("after hide");
        },
        beforeHourSelect: function() {
            console.log("before hour selected");
        },
        afterHourSelect: function() {
            console.log("after hour selected");
        },
        beforeDone: function() {
            console.log("before done");
        },
        afterDone: function() {
            console.log("after done");
        }
    })
    .find('input').change(function(){
        console.log(this.value);
    });

// Manually toggle to the minutes view
$('#check-minutes').click(function(e){
    // Have to stop propagation here
    e.stopPropagation();
    input.clockpicker('show')
            .clockpicker('toggleView', 'minutes');
});
if (/mobile/i.test(navigator.userAgent)) {
    $('input').prop('readOnly', true);
}
</script>
 
<script src="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/assets/js/highlight.min.js"></script>

<script type="text/javascript">
jQuery('.clockpicker').clockpicker();

  </script>

  <script>
   
      function initAutocomplete() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -33.8688, lng: 151.2195},
          zoom: 13,
          mapTypeId: 'roadmap'
        });

        // Create the search box and link it to the UI element.
        var input = document.getElementById('address');
        var searchBox = new google.maps.places.SearchBox(input);
       // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function() {
          searchBox.setBounds(map.getBounds());
        });

        var markers = [];
        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function() {
          var places = searchBox.getPlaces();

          if (places.length == 0) {
            return;
          }

          // Clear out the old markers.
          markers.forEach(function(marker) {
            marker.setMap(null);
          });
          markers = [];

          // For each place, get the icon, name and location.
          var bounds = new google.maps.LatLngBounds();
          places.forEach(function(place) {
            if (!place.geometry) {
              console.log("Returned place contains no geometry");
              return;
            }
            var icon = {
              url: place.icon,
              size: new google.maps.Size(71, 71),
              origin: new google.maps.Point(0, 0),
              anchor: new google.maps.Point(17, 34),
              scaledSize: new google.maps.Size(25, 25)
            };

            // Create a marker for each place.
            markers.push(new google.maps.Marker({
              map: map,
              icon: icon,
              title: place.name,
              position: place.geometry.location
            }));

            if (place.geometry.viewport) {
              // Only geocodes have viewport.
              bounds.union(place.geometry.viewport);
            } else {
              bounds.extend(place.geometry.location);
            }
          });
          map.fitBounds(bounds);
        });
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKrObWSq1_SI_Abkr71Rdo3pKx29KJGJM&libraries=places&callback=initAutocomplete"
         async defer></script>
{% endblock custom_js %}
