

{% extends "base.html" %}

{% block body_content %}



    <div class="container" style="margin-top:5%;">
        <div class="row">
            <div class="col-md-12 " style="font-size:28px;">
                <!-- <div class="float-left">Customer Lead Id is <span>1003</span></div> -->
                <div class="float-right">Phone Number is <span>99*******9</span></div>
            </div>
        </div> 
        <div class="row">
            <button class="offset-md-1 col-md-2 btn btn-primary" data-toggle="modal" data-target="#myModal">Script</button>
            <button class="offset-md-6 col-md-2 btn btn-primary" data-toggle="modal" data-target="#myModal">Call Now</button>
        </div>
        <br<br>
        <div class="row" style="margin-top:5%">
            <div class="offset-md-3 col-md-6">
                <form class="">
                    <div class="form-group" >
                        <label for="Fname">Full Name</label>
                        <input type="text" class="form-control" value="Robert John" placeholder="First Name">
                    </div>
                    <!-- <div class="form-group" >
                        <label for="lname">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div> -->
                    <div class="form-group" >
                        <label for="address">Address</label>
                        <!-- <input type="text" class="form-control" placeholder="Address"> -->
                        <textarea class="form-control" rows="4" placeholder="Address">Due to the widespread use of tables across we’ve designed our tables to be opt-in. Just add</textarea>
                    </div>
                    <div class="form-group" >
                        <label for="alternateNumber">Alternate Number</label>
                        <input type="text" class="form-control" value="9795768765" placeholder="Alternate Number">
                    </div>
                    <div class="form-group" >
                        <label for="emailAddress">Email Address</label>
                        <input type="text" class="form-control" value="add@gmail.com" placeholder="Email Address">
                    </div>
                    <div class="form-group" >
                        <label for="AppointmentDate">Apointment Date</label>
                        <input type="date" class="form-control" placeholder="Set Apointment Date">
                    </div>
                    <div class="form-group" >
                        <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                            <input type="text" placeholder="Set Appoointment Time" value="00:00" class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                        </div>
                    </div>
                    <div class="pull-left">
                        <label class=" checkbox-inline">
                            <input type="checkbox" value="">Set Commit</label>
                        <label class="offset-md-1 checkbox-inline">
                            <input type="checkbox" value="">Feedback</label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="form-group" >
                        <!-- <label for="address">Feedback</label> -->
                        <!-- <input type="text" class="form-control" placeholder="Address"> -->
                        <textarea class="form-control" rows="4" placeholder="Your Feedback"></textarea>
                    </div>
                    <button type="submit" class=" offset-md-4 col-md-4 btn btn-primary">Update</button>
                </form>
            </div>
        </div>
        <br>
        <br>
        <br>
    </center>
        <!-- <div class="row">
            <h3>Previous Feedback</h3>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Feedback</th>
                    <th scope="col">Date Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Due to the widespread use of tables across we’ve designed our tables to be opt-in. Just add </td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Using the most basic table markup, here’s how .table-based tables look in Bootstrap. the parent.</td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Create responsive tables by wrapping any .table with-width breakpoint of up to (but, respectively.</td>
                        <td>21/02/2017 11:20:34</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>

<script src="https://weareoutman.github.io/clockpicker/assets/js/jquery.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/assets/js/bootstrap.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/dist/bootstrap-clockpicker.min.js"></script>
<script src="https://weareoutman.github.io/clockpicker/assets/js/highlight.min.js"></script>
<script type="text/javascript">
    $('.clockpicker').clockpicker();
</script>
{% endblock body_content %}