{% load staticfiles %}
<script type="text/javascript">
	$(document).ready(function() {

  var timer = setInterval(function() {

    var count = parseInt($('#theTarget').html());
    if (count !== 0) {
      $('#theTarget').html(count - 1);
    } else {
      clearInterval(timer);
    }
  }, 1000);
});
</script>

<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0; height:17.1%">
    <div class="navbar-header" style="width:50%;">
       
        <a id="home" class="navbar-brand" href="#"><img src="../static/images/logo.jpg" style=" width: 240px;"></a><span style="width: 250px; color: rgb(255, 255, 255); padding-top: 21px; display: flex;">|&nbsp;&nbsp;IONEXASENSE</span>
    </div>
    <div class="navbar-header" style="width:50%;">
	     <ul class="nav navbar-top-links navbar-right">
	        <li class="dropdown">
	            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: rgb(0, 0, 0);">
	               <span id="assoc_id">{{user.username}}</span> <i class="fa fa-user fa-fw"> </i> <i class="fa fa-caret-down"></i>
	            </a>
	            <ul class="dropdown-menu dropdown-user">
	                <li><a id="dashboard" href=""><i class="fa fa-home fa-fw"></i> Dashboard</a>
	                </li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
	                </li>

	                <li class="divider"></li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Pause</a>
	                </li>
	                <li><a id="logout" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	                </li>
	            </ul>
	        </li>
	    </ul>
	    <ul class="nav navbar-top-links navbar-right">
	 <li class="dropdown">
	            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="background-color: white; color: blue;">
	               <span id="assoc_id">{{user.username}}</span> <i class="fa fa-user fa-bell-o fw"> </i> 
	            </a>
	            <ul class="dropdown-menu dropdown-user">
	                <li><a id="dashboard" href=""><i class="fa fa-home fa-fw"></i> Dashboard</a>
	                </li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
	                </li>

	                <li class="divider"></li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Pause</a>
	                </li>
	                <li><a id="logout" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	                </li>
	            </ul>
	        </li>
	    </ul>
	     <ul class="nav navbar-top-links navbar-right">
	 <li class="dropdown">
	            <a class="dropdown-toggle" data-toggle="dropdown" href="#" style=" background-color: white; color: white;">
	               <span id="assoc_id">{{user.username}}</span> <i class="fa fa-user fa-wpforms fw"> </i> 
	            </a>
	            <ul class="dropdown-menu dropdown-user">
	                <li><a id="dashboard" href=""><i class="fa fa-home fa-fw"></i> Dashboard</a>
	                </li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Settings</a>
	                </li>

	                <li class="divider"></li>
	                <li><a id="settings" href=""><i class="fa fa-gear fa-fw"></i> Pause</a>
	                </li>
	                <li><a id="logout" href=""><i class="fa fa-sign-out fa-fw"></i> Logout</a>
	                </li>
	            </ul>
	        </li>
	    </ul>
	      <ul class="nav navbar-top-links navbar-right">
	<div id="countdownExample">
    <div class="values"></div>
</div>
           
	    </ul>
     </div>
</nav>

<nav class="navbar navbar-default navbar-static-top navbar-fixed-top" role="navigation" style="margin-bottom: 0; margin-top: 5%; background-color: #0D385D">
</nav>
{% block custom_css %}
<link rel="stylesheet" href="../static/css/easy-autocomplete.css">
<link rel="stylesheet" href="../static/css/easy-autocomplete.themes.css">
<style>
	.easy-autocomplete-container ul li, .easy-autocomplete-container ul .eac-category {
		padding:0px;
	}
	.navbar-top-links li:last-child {
		margin-right: 0px;
	}
	.easy-autocomplete.eac-plate-dark ul {
		top:26px;
	}
</style>
{% endblock custom_css %}