.call-card 
{
    position: absolute;
    height: 280px;
    width: 160px;
    margin-top: 1vh;
    border-radius:20px;
    background: -webkit-linear-gradient(top,#8bf1f8,#00c3ca);
}
.call-user-icon img 
{
    background-color: white;
    border-radius: 50%;
    width: 24%;
}
.call-card-user-name 
{
    position: relative;
    text-align: center;
}
.caller-name 
{
    font-family: poppins;
    font-size: 22px;
    color:black;
    font-weight: bold;
}