@import '~pretty-checkbox/src/pretty-checkbox.scss';
body
{
	overflow-x:hidden;
	font-family: Poppins;
}

table.dataTable{
	border-collapse:collapse !important;
	color: #154e79;
	font-size: 16px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table {
	font-size: 18px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container-fluid
{
	margin-top:  7%;
}

.dataTables_filter {
	float: right !important;
	color: #06BBE1;
	margin-right: 3%;
display: none;
}


.dataTables_length {
	margin-left: 3%;
	color: #0D385D;
	/* position: ; */
	bottom: 0;
}

.table-scroll {
	position: relative;
	max-width: 1280px;
	width:100%;
	margin: auto;
	display:table;
	border:3px solid #7CB9E8;
	border-radius:5px;
}
.table-wrap {
	width: 100%;
	display:block;
	height: 300px;
	overflow: auto;
	position:relative;
	z-index:1;
}
.table-scroll table {
	width: 100%;
	margin: auto;
	border-collapse: separate;
	border-spacing: 0;
}
.table-scroll th, .table-scroll td {
	padding: 5px 5px;
	
	
	
}
.faux-table table {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	pointer-events: none;
}
.faux-table table + table {
	top: auto;
	bottom: 0;
}
.faux-table table tbody, .faux-table  tfoot {
	visibility: hidden;
	border-color: transparent;
	
}
.faux-table table + table thead {
	visibility: hidden;
	border-color: transparent;
}
.faux-table table + table  tfoot{
	visibility:visible;

}

.faux-table {
	position:absolute;
	top:0;
	right:3px;
	left:0;
	bottom:0;
	overflow-y:scroll;
}
.faux-table thead, .faux-table tfoot, .faux-table thead th, .faux-table tfoot th, .faux-table tfoot td {
	position:relative;
	z-index:2;
	background-color:#fff;
}
#login-form img
{
	width:100px;
	height:100px;
}

p {
	opacity: 1;
	font-family: Poppins;
	font-size: 15px;
	color: rgba(112,112,112,1);
}

a 
{
   text-decoration: none; 
}
a:hover
{
	text-decoration: none;
	color:#FFF;
}
.main-content
{
	margin-top:10vh;
}
.main-content p 
{
    color: rgb(83, 191, 199);
    font-weight: bold;
    font-family: poppins;
}
.main-content a 
{
    color: white;
    font-family: poppins;
}
#circle
{
	font-size:20px;
}
.main-content button 
{
    border: none;
    color: white;
    padding: 5px 35px;
    border-top-right-radius: 4px 4px;   
    border-top-left-radius: 4px 4px;   
    border-bottom-right-radius: 4px 4px;   
    border-bottom-left-radius: 4px 4px;   
    background-color: #a7cfdf; background-image: -webkit-gradient(linear, left top, left bottom, from(#a7cfdf), to(#23538a));
    background-image: -webkit-linear-gradient(top, #6ad5ff, #07527e);
    background-image: -moz-linear-gradient(top, #23b3ec, #07527e);
    background-image: -ms-linear-gradient(top, #23b3ec, #07527e);
    background-image: -o-linear-gradient(top, #23b3ec, #07527e);
}
#login-form input
{
	text-align:center;
	border-radius:5px;
	border-color:#7CB9E8;
	border:2px solid #7CB9E8;
}
#forgot_password 
{
	white-space: nowrap;
	font-family: Poppins;
	font-size: 24px;
	color: rgba(112,112,112,1);
}
.footer 
{
	  position: fixed;
	  left: 0;
	  bottom: 0;
	  width: 100%;
 
}
/*.navbar
{
	  height:100px;
	  width:auto;
	  background: -webkit-linear-gradient(right,#007FFF,#007FFF,#7CB9E8);
}*/

.logoutImage
{
	position: relative;
	width:260px;
	margin-top: 6%;
	height:260px;
	border-radius:50%;
	overflow: hidden;
	/* margin-top:7vh; */
}


.user
{
	position: relative;
	width:100px;
	margin-top: 6%;
	margin-left: 23%;
	height:100px;
	border-radius:50%;
	overflow: hidden;
	/* margin-top:7vh; */
}
.username
{
	position: relative;
	margin-left:2%;
	display: inline;
	/* margin-top:100px; */
	/* color:#4B7594; */
	color:white;
	font-size:25px;
	font-family:poppins;
	font-weight:bold;
}


.logintime
{	
	margin-top:1%;
  text-align:right;
	font-family:poppins;
	color:rgb(255, 255, 255);
	font-weight:bold;
	font-size:20px;
}

.logindate
{	
	margin-right: 4%;
  text-align:right;
	font-family:poppins;
	color:rgb(255, 255, 255);
	font-weight:bold;
	font-size:20px;
}

.dashboard
{
	font-family:poppins;
	color:#06BBE1;
	font-size:30px;
	margin-top:-2vh;
	margin-left:21%;
	font-weight:bold;
}
i
{
	color:white;
	font-size:35px;
	margin-top:-10vh;
	
}
.customerid
{
	width:25%;
	border-radius:5px;
	border-color:#7CB9E8;
	border:2px solid #7CB9E8;
}
button
{
	border:2px solid #06BBE1;
	border-radius:8px;
	background-color:white;
	font-family: Poppins;	
	color:#7CB9E8;
	font-size: 25px;
}

/* button:active {
	vertical-align: top;
	padding: 8px 13px 6px;
} */

button:hover
{
	background-color: #06BBE1;
	color:white;
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

#callsButton {
	width: 82%;
}
/* #pauseButton
{
	border:1px solid #06BBE1;
	border-radius:5px;
	background-color:white;
	
	color:#7CB9E8;
	font-size: 25px;
}
#pauseButton:hover
{
	background-color: #06BBE1;
	color:white;
} */
.progress
{
	border:1px solid rgb(208, 234, 201);
	border-radius:3px;
	overflow: hidden;
	width: 67%;
	background-color:white;
	height: 20px;
}
.progress-bar 
{
		
	position:relative;
	border: 1px solid  rgb(143, 178, 195);
	width:70%;
	margin-left: 1px;
	border-radius:3px;
	margin-top:3px;
	height:76%;
	background-color: #4c9e5e;
}
.progress-bar1 
{
		
	position:relative;
	width:40%;
	margin-left:1%;
	border-radius:30px;
	margin-top:1%;
	height:76%;
	background-color: #66E1FD;
}
.ID28
{
	opacity: 1;
	font-family: Poppins;
	font-size: 13px;
	color: rgb(44, 134, 17);
	letter-spacing: -1.2px;
}
#leadlist
{
	opacity: 1;
	filter: drop-shadow(0px 3px 6px rgba(158, 249, 240, 1));
	font-family: Poppins;
	font-size: 25px;
	color: rgba(6,184,225,1);
}
span p
{
	padding:10px;
	border-radius:6px;
	background-color: #D1F8FB  ;
	width:19%;
	margin-left:76%;
	font-family: Poppins;
	font-size: 23px;
	color: rgba(112,112,112,1);
	margin-top:-5%;
	
}
.iconbox button:hover
{
	background-color:white;
	
}
.iconbox  a:hover
{
	color:black;
	
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #707070;
  border-radius: 50%;
  display: inline-block;
}
.dot1 {
  height: 25px;
  width: 25px;
  background-color: #FD9B1A;
  border-radius: 50%;
  display: inline-block;
}
.dot2 {
   height: 25px;
  width: 25px;
  background-color: #FA5454;
  border-radius: 50%;
  display: inline-block;
}
.dot3 {
  height: 25px;
  width: 25px;
  background-color: #F5ED06;
  border-radius: 50%;
  display: inline-block;
}


#empname {
	font-size: 18px;
	font-weight: bold;
	color: black;
}



.dot4 {
   height: 25px;
  width: 25px;
  background-color: #09B788;
  border-radius: 50%;
  display: inline-block;
}
#Employees_A27
{
		filter: drop-shadow(0px 3px 6px rgba(158, 249, 240, 1));
		white-space: nowrap;
		font-family: Poppins;
		font-size: 25px;
		color: rgba(6,184,225,1);
}
.scrollbar-ripe-malinka::-webkit-scrollbar-track 
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 100);
	background-color: #F5F5F5;
	border-radius: 0px; 
}
.scrollbar-ripe-malinka::-webkit-scrollbar 
{
	width: 20px;
	background-color: #F5F5F5; 
}
.scrollbar-ripe-malinka::-webkit-scrollbar-thumb 
{
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 100);
	background-image: linear-gradient(120deg, #66E1FD 0%, #66E1FD 100%); 
}
.example-1 
{
	position: relative;
	overflow-y: scroll;
	height: 300px;
	border:2px solid #06BBE1;
	border-radius:5px;
}
p
{
	opacity: 1;
	font-family: Poppins;
	font-size:15px;
	color: rgba(112,112,112,1);
}

::placeholder
{
	opacity: 1;
	font-family: Poppins;
	color: rgba(112,112,112,1);
}
.call-card 
{
	position: absolute;
	height: 280px;
	width: 150px;
	margin-top: -22%;
	margin-left:78%;
	border-radius:20px;
	background: -webkit-linear-gradient(top,#8bf1f8,#00c3ca);
}
.call-user-icon img 
{
	background-color: white;
	border-radius: 50%;
	width: 35%;
}
.call-card-user-name 
{
	position: relative;
	text-align: center;
		
}
.caller-name 
{
	font-family: poppins;
	font-size: 20px;
	color:black;
	font-weight: bold;
}
.form-check-label .checkmark:after 
{
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.form-check-label-input
{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-label:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check-label input:checked ~ .checkmark {
  background-color: #06BBE1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}



.form-check-label1 .checkmark:after 
{
 	
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.form-check-label1-input
{
  display: block;
  position: relative;
 
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-label1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark1 {
  position: absolute;
  
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.form-check-label1:hover input ~ .checkmark1 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.form-check-label1 input:checked ~ .checkmark1 {
  background-color: #06BBE1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label1 input:checked ~ .checkmark1:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label1 .checkmark1:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

#ab {
	margin-top: 3%;
}

#panel
{
		width:40%;
		padding:6px;
}
.modelname
{
	width:50%;
	border-radius:5px;
	border:1px solid #06BBE1;
}
#Rob___Team_Manger 
{
		font-family: Poppins;
		font-size: 20px;
		color: rgba(112,112,112,1);
}
#Attention_all__Deadlines_are_u 
{
		font-family: Poppins;
		font-size: 15px;
		color: rgba(112,112,112,1);
}
.time
{
		font-family: Poppins;
		font-size: 25px;
		color: rgba(6,184,225,1);
		padding-bottom: 0%;
		margin: 0;
}
.btn
{
	border:1px solid #06BBE1;
	border-radius:5px;
	background-color:white;
	font-weight:bold;
	color:#7CB9E8;
}

/* .btn {
	-webkit-box-shadow: inset 0 0 30px #06BBE1;
	-moz-box-shadow: inset 0 0 30px #06BBE1;
	box-shadow: inset 0 0 30px rgb(255, 255, 255);
} */

.btn:hover
{
	background-color: #06BBE1;
	color:white;
	border: none;
}
#call-duration
{
	color:white;
	font-size:20px;
}

footer
{
	position: relative;
	bottom:0;
	left: 0;
	width:100%;
	border:1px solid #EDF3F5;
	background-color:#EDF3F5;
	color:white;
	text-align:center;
}